{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Routes disponibles : </h1>
            <ul class="list-group">
                <li>
                    <a href="{{ path('planemodel_index') }}" class="list-group-item list-group-item-action">Voir les avions</a>
                </li>
                <li>
                    <a href="{{ path('reservation_index') }}" class="list-group-item list-group-item-action">Voir les réservations</a>
                </li>
                <li>
                    <a href="{{ path('flight_index') }}" class="list-group-item list-group-item-action">Voir les vols</a>
                </li>
                <li>
                    <a href="{{ path('site_index') }}" class="list-group-item list-group-item-action">Voir les terrains</a>
                </li>
                <li>
                    <a href="{{ path('review_index') }}" class="list-group-item list-group-item-action">Voir tous les avis utilisateur</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

